			<footer class="colophon">
			
				<div class="tertiary">
					<div class="container">
						<div id="links-widget" class="widget">
							<ul>
								<li><a href="{{ "sobre.html"  | prepend: site.url }}" title="O que é Coinverse? - {{ site.title }}">O que é Coinverse?</a></li>
								<li><a href="{{ "atm.html" |  | prepend: site.url }}" title="Conheça nosso caixa eletrônico - {{ site.title }}">ATM</a></li>
								<li><a href="{{ "investimentos.html" |  | prepend: site.url }}" title="Investimentos - {{ site-title }}">Buscando investimento para o seu projeto?</a></li>
								<li><a href="{{ "imprensa.html" |  | prepend: site.url }}" title="Imprensa - {{ site.title }}">Imprensa</a></li>
								<li><a href="{{ "faq.html"  | prepend: site.url  }}" title="FAQ - {{ site.title }}">FAQ</a></li>
								<li><a href="{{ "contato.html" |  | prepend: site.url }}" title="Contato - {{ site.title }}">Contato</a></li>
							</ul>
							
							<div class="share-buttons">
								<div class="facebook">
									<div class="fb-like" data-href="https://www.facebook.com/coinverse" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
								</div>
								<div class="youtube">
									<div class="g-ytsubscribe" data-channel="coinverse" data-layout="default" data-count="default"></div>
								</div>
							</div>
						</div>
						
						<div id="fb-widget" class="widget">
							<div class="fb-like-box" data-href="https://www.facebook.com/coinverse" data-width="670" data-height="410" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
						</div>
					</div>
				</div>
				<p class="copyright container">2014 - {{ site.title }} | <a href="{{ "termos/" |  | prepend: site.url }}" title="Termos de Uso - {{ site.title }}">Termos de uso</a></p>
			
			</footer>