			<header class="masthead">
				
				<div class="container">
				
					<div class="language-selection">
						<p>Idioma: <a class="flag brazil" href="#" title="Visitar o site em português">Português Brasileiro</a> <a class="flag eua" href="#" title="View this site in English">Inglês Americano</a></p>
					</div>
				
					<div class="branding">
						<h1 class="site-title">
							<a href="{{ "index.html" | prepend: site.url }}" title="{{ site.title }} - Página Inicial">{{ site.title }}</a>
						</h1>
						<h2 class="site-description">Bitcoin Services</h2>
					</div>
					
					<nav class="access">
						<ul>
							<li><a href="{{ "compra/" | prepend: site.url }}" title="Compra - {{ site.title }}">Compra</a></li>
							<li><a href="{{ "venda/" | prepend: site.url }}" title="Venda - {{ site.title }}">Venda</a></li>
							<li><a href="{{ "pagamentos/" | prepend: site.url }}" title="Pagamentos - {{ site.title }}">Pagamentos</a></li>
							<li><a href="{{ "contato/" | prepend: site.url }}" title="Contato - {{ site.title }}">Contato</a></li>
						</ul>
					</nav>
					
					<div class="clearfix"></div>
				</div>
			
			</header>