					<section class="exchange-rate">
						<h2>Cotação</h2>
						<p>฿ <span class="value">1</span> <span class="equal-sign">=</span> R$ <span class="exchange-rate-value value">1081,42</span></p>
					</section>
					
					<section class="indicators">
						<a href="{{ "indicadores.html" | prepend: site.url }}" title="Indicadores - {{ site.title }}">Confira os indicadores</a>
					</section>
					
					<section class="video">
						<h2>É simples, é rápido.</h2>
						<iframe width="360" height="203" src="//www.youtube.com/embed/95-WSOHoTg8" frameborder="0" allowfullscreen></iframe>
					</section>
					
					<section class="atm">
						<h2>Conheça nosso caixa eletrônico</h2>
						<p>Laboriosa, 89<br />
							Vila Madalena - São Paulo - SP</p>
					</section>