/* = Grid
================================ */

@media (min-width: 40rem) {
	.column {
		float: left;
		padding-left: 1rem;
		padding-right: 1rem;
		
		&.full {
			width: 100%;
		}
		
		&.two-thirds {
			width: 66.7%;
		}
		
		&.half {
			width: 50%;
		}
		
		&.one-third {
			width: 33.3%;
		}
		
		&.fourth {
			width: 25%;
		}
		
		&.flow-opposite {
			float: right;
		}
	}
}