@import 'reset';
@import 'fonts';
@import 'defaults';
@import 'grid';

@import 'basics';

$highlight-color: #DF8C00;
$button-color: #238C00;
$button-hover: #1E7500;


/* = Structure
================================ */

body {
	color: #333333;
	font-weight: 400;
	font-size: 1.4rem;
	font-family: 'Lato';
	line-height: 160%;
}

.container {
	margin: 0 auto;
	max-width: 94rem;
	width: 100%;
}

.content {
	margin-top: 8rem;
	margin-bottom: 10rem;
	
	.primary {
		display: inline-block;
		margin-right: 10.7rem;
		max-width: 47rem;
		width: 100%;
	}
	
	.secondary {
		display: inline-block;
		max-width: 36rem;
		width: 100%;
		vertical-align: top;
	}
}

.hidden {
	display: none;
}

@import 'header';
@import 'footer';

/* = Structure
================================ */
.content {

	h1 {
		color: $highlight-color;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 3rem;
		line-height: 120%;
		
		&.successfull-transaction {
			color: $button-color;
			text-transform: none;
		}
	}
	
	h2 {
		margin-bottom: 3rem;
		font-weight: 700;
		font-size: 1.8rem;
	}
}

strong, b {
	font-weight: 700;
}

em, i {
	font-style: italic;
}

/* Feedbacks */
.feedbacks {
	p {
		margin-bottom: 1.5rem;
		font-size: 1.8rem;
	}
	
	h2 {
		font-size: 1.8rem;
		margin-bottom: 1rem;
		text-transform: uppercase;
		margin-top: 4rem;
	}
	
	.bankslip-link {
		font-weight: 700;
		font-size: 1.4rem;
		
		a {
			color: #333;
			text-decoration: underline;
			
			&:hover,
			&:focus {
				color: $highlight-color;
			}
		}
	}
	
	.infobox {
		display: inline-block;
		margin-top: 3rem;
		padding: 2rem 1rem 2rem 11rem;
		max-width: 61.6rem;
		background-color: #F4F4F4;
		background-image: url('../images/alert.png');
		background-position: 2rem center;
		background-repeat: no-repeat;
		
		p {
			padding-right: 4rem;
			font-size: 1.4rem;
			line-height: 120%;
		}
		
		a {
			display: inline-block;
			padding: .5rem 1.5rem;
			min-width: 23rem;
			background-color: #FFFFFF;
			box-shadow: 0 .2rem .1rem rgba(0, 0, 0, .25);
			color: #333333;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.2rem;
			
			&:hover,
			&:focus {
				text-decoration: underline;
			}
			
			&.tutorial {
				margin-right: 2rem;
			}
		}
	}
}

@import 'widgets';
@import 'forms';